
@{
    ViewBag.Title = "Authorization Initiatea";
}

<h2>Visit Authorization Initiatead</h2>
<h4>The planner task "@ViewBag.taskTitle" has been created and the protocols for an Onsite Visit has been started </h4>
